.cabecalho{
    display: flex;
     justify-content: space-between;
     align-intems: center;
     padding: 20px 5%;
     background-color: rgb(13, 120, 207);
box-shadow: 0 2px 10px rgba blue (0, 0, 0, 05);
position: sticky;
top: 0;
z-index: 1000;
}

.cabecalo-manu{
    diplay: block;
    unicode-bidi: isolate;

}

.cabecalho-menu-item{
    text-decoration: none;
    color:azure;
    margin: 0 15px;
    front-wegth: 600
    transition:color 0,2s;
}
.cabecalho-menu-botao
background-color:
color: red






























.problema-paragrafo{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color::after
}

.problema.imagem{
    flex: 1;
    display: flex;
    justify-content: center;
}

.problema-foto{
    width: 100%;
    max-width: 550px;
    heigth: auto;
    border-radius: 12px;
    box-shadow: 0 8px 24px chocolate
}
